*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://img.freepik.com/foto-gratis/fondo-futurista-abstracto-diseno-3d_1361-3532.jpg?t=st=1740525669~exp=1740529269~hmac=d6990f8f6f16f760fe0949943744d50f0ff0fcf069966ac9857b781a7f750b39&w=996)center;
    background-size: cover;
}

.container{
    width: 1200px;
    height: 800px;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    gap: 1em;
}

.row{
    border-radius: 1em;
}
.row-1{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.row-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.row-3{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.col{
    flex: 1;
    border-radius: 1em;
    display: flex;
    gap: 1em;
}

.col.col-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.col-box{
    flex: 1;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10px;
}

.sub-col-box1{
    flex: 2;
    border-radius: 1em;
}
.sub-col-box2{
    flex: 1;
    border-radius: 1em;
}

.box{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    padding: 10px;
}

.col-box{
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid #ffffff10;
    backdrop-filter: blur(50px);
    transition: 0.3s ease-in-out;
}

.sub-col-box1{
    border: 2px solid #ffffff10;
}

.sub-col-box2{
    border: 2px solid #ffffff10;
}

.box{
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid #ffffff10;
    backdrop-filter: blur(50px);
    transition: 0.3s ease-in-out;
}

.col-box:hover{
    transform: scale(1.02);
    border: 2px solid #ffffff10;
}
.box:hover{
    transform: scale(1.02);
    border: 2px solid #ffffff10;
}

@media(max-width:1024px){
    .container{
        flex-direction: column;
    }
    .row-1{
        flex-direction: row;
    }
    .row-2{
        flex-direction: row;
    }
    .row-3{
        flex-direction: row;
    }
    .col{
        flex: 2;
        flex-direction: column;
    }
}

@media(max-width:650px){
    .container{
        max-width: 900px;
        max-height: 550px;
        gap: 0.5em;
    }
    .row{
        gap: 0.5em;
    }
    .col{
        gap: 0.5em;
    }
}